/* Base Styles (Desktop) */
.movie-info {
    text-align: center;
    margin-top: 10px;
}

.movie-search {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
    font-size: 1.2em;
    margin: 20px auto;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.movie-search:focus {
    outline: none;
    background-color: #333;
}

#movie-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#movie-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.movie-list-button {
    width: 5%;
    background-color: #e18402;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.movie-list-button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.my-movies-button {
    width: auto;
    height: 30px;
    background-color: #ad6a0c;
    color: white;
    font-size: large;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.my-movies-button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.movie-poster {
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.movie-title {
    margin-top: 10px;
    color: #e5e5e5;
    text-align: center;
    font-size: 1.1rem;
}

.movie-item:hover .movie-poster {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.movie-details {
    margin-top: 20px;
    padding: 15px;
    margin: 5px;
    background-color: #222;
    color: #fff;
    border-radius: 8px;
}

/* Mobile Styles */
@media (max-width: 600px) {
    .movie-search {
        width: 90%; 
        font-size: 1em;
        margin: 15px auto;
    }

    #movie-list {
        gap: 15px; 
    }

    #movie-list li {
        max-width: 120px; 
    }

    .movie-poster {
        width: 100px; 
    }

    .movie-title {
        font-size: 1rem; 
    }

    .movie-details {
        padding: 10px; 
        font-size: 0.9em; 
    }

    .movie-list-button, .my-movies-button {
        width: 80%; 
        font-size: 1em; 
        margin: 10px auto;
        padding: 10px 15px;
    }
}
